{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}</style>


    <section class="double-content section-top-space" >

        <div class="center">

            <div class="green-line">
            </div>

            <div class=" embed-container">

       <h2>Publicación del Diario Oficial La Gaceta, en la cual se aprueba la LNME</h2>
                <ul class="documents without-margin-bottom">

                    <li class="document document-pdf">
{% for item in lista_gaceta %}
                        <i class="fa fa-file-pdf-o"></i>

                        <a href="/media/{{ item.archivo}}">Publicación del Diario Oficial La Gaceta, en la cual se aprueba la LNME</a>
                        <span id="mb"></span>

    <script>
var mb=Math.round({{ item.archivo.size}}/1048576) ;
var tam="Tamaño";
document.getElementById('mb').innerHTML = tam+" "+mb+" MB";
</script>
                        <div class="clear">
                        </div>
{% endfor %}
                    </li>


                </ul>

            </div>


            <div class="clear">
            </div>

        </div>

    </section>


{% endblock %}