{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}</style>


    <section class="double-content section-top-space" >

        <div class="center">

            <div class="green-line">
            </div>

            <div class=" embed-container">

       <h2>Publicaciones LISTADO NACIONAL DE MEDICAMENTOS ESENCIALES (LNME)</h2>
                <ul class="documents without-margin-bottom">
{% for item in lista_gaceta %}
                    <li class="document document-pdf">

                        <i class=""><img border="2" height="60" width="40" src="/media/{{ item.imagen_vista_previa }}"></i>

                        <a href="/media/{{ item.archivo}}">{{item.nombre_del_archivo}}</a>

                        <span id="mb{{ item.id }}"></span>
    <br>
    <br>

    <script>
var mb=Math.round({{ item.archivo.size}}/1048576) ;
var tam="Tamaño";
document.getElementById('mb{{ item.id }}').innerHTML = tam+" "+mb+" MB";
</script>
                        <div class="clear">
                        </div>

                    </li>
{% endfor %}

                </ul>

            </div>


            <div class="clear">
            </div>

        </div>

    </section>


{% endblock %}