{% extends 'base.html' %}
{% block content %}
    <div id="loader">

        <div class="loader-spinner">
        </div>

    </div>
    <section  class="blog section-top-space" style="margin-left: 2%;margin-right: 2%">
        <div class="recent-news-full-content">
        <br>      <br>      <br>      <br>
          <br>      <br>      <br>      <br>
 <h1>Buscador </h1>
        <p style="color: red">Instrucciones</p>
        <p class="-align-justify">El buscador realiza coincidencias con nombres de medicamentos, vías de administración o código ATC.En algunos casos puede escribir parte de la palabra, por ejemplo, puede escribir “ace” y esto retornara búsquedas relacionadas con acetaminofén.</p>
 <br>
            <p>Asegúrese de escribir bien las palabras, estas pueden llevar acentos.</p>
        <br>
        <br>
  <form action="." method="GET">
    <label for="q">Escriba sus busquedas : </label>
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="Buscar">
  </form>

  {% if query %}
    <h2>Resultados para "{{ query|escape }}":</h2>
<br>
    {% if results %}
      <ul>
      {% for medicamento in results %}
          <li><p style="font-weight: bold;color: red;">{{ medicamento | safe }}</p>
              <br><span style="font-weight: bold;" >Categoría: </span><span style="font-size: small;">{{ medicamento.categoria }}</span><br>
                  <p ><span style="font-weight: bold;"> Código ATC: </span> {{ medicamento.codigo_atc }}</p>
                  <p ><span style="font-weight: bold;">Vía de Administración: </span> {{ medicamento.via_de_administracion }}</p>
                  <p ><span style="font-weight: bold;">Concentración: </span>{{ medicamento.contentracion }}</p>
                  <p ><span style="font-weight: bold;">Forma Farmacéutica: </span> {{ medicamento.forma_farmaceutica }}</p>
                  <p ><span style="font-weight: bold;">Envase Primario: </span>{{ medicamento.envase_primario }}</p>
                  <p ><span style="font-weight: bold;">Nivel de atención: </span>{{ medicamento.nivel_de_atencion }}</p>



                  <p ><span style="font-weight: bold;">Establecimientos: </span> <script>var contador='';</script>
             <script>var contador2='';</script>

                         {% if medicamento.uaps == True %}<script>var contador='UAPS';</script> {% endif %}
                   {% if medicamento.cis == True %} <script>
                   if (contador=='')
                   {
                       var contador= contador + 'CIS';
                   }else {
                       var contador= contador + ' - CIS';
                   }
                       </script>
                   {% endif %}
                   {% if medicamento.p == True %}
                        <script>
                   if (contador=='')
                   {
                       var contador= contador + 'P';
                   }else {
                       var contador= contador + ' - P';
                   }
                       </script>
                   {% endif %}
                         <script>document.write(contador);</script>

                 {% if medicamento.hb == True %}
                     <script>
                   if (contador2=='')
                   {
                       var contador2= contador2 + 'HB';
                   }else {
                       var contador2= contador2 + ' - HB';
                   }
                       </script>
                 {% endif %}{% if medicamento.hg == True %}
                 <script>
                   if (contador2=='')
                   {
                       var contador2= contador2 + 'HG';
                   }else {
                       var contador2= contador2 + ' - HG';
                   }
                       </script>
                 {% endif %}
                {% if medicamento.hesp == True %}
                     <script>
                   if (contador2=='')
                   {
                       var contador2= contador2 + 'HESP';
                   }else {
                       var contador2= contador2 + ' - HESP';
                   }
                       </script>
                {% endif %}{% if medicamento.inst == True %}
                 <script>
                   if (contador2=='')
                   {
                       var contador2= contador2 + 'INST';
                   }else {
                       var contador2= contador2 + ' - INST';
                   }
                       </script>
                {% endif %}{% if medicamento.hpsiq == True %}
                 <script>
                   if (contador2=='')
                   {
                       var contador2= contador2 + 'HPSIQ';
                   }else {
                       var contador2= contador2 + ' - HPSIQ';
                   }
                       </script>
                {% endif %}
             <script>document.write(contador2);</script></p>
          <!--FIN DE LAS VALIDACIONES DE LO ESTABLECIMIENTOS-->
                {% if medicamento.lista_complementaria is not null %}
           <p> <span style="font-weight: bold;">{{ medicamento.lista_complementaria }}</span></p>
          {% endif %}
          {% if medicamento.restriccion_uso != " " %}
               <p><span style="font-weight: bold;">Observaciones: </span>{{ medicamento.restriccion_uso }}</p>
          {% endif %}
                  <br>
              </span>
          </li>
      <hr>
          <br>
      {% endfor %}
      </ul>
    {% else %}
      <p>No existen resultados, intente recortar la palabra</p>
    {% endif %}
  {% endif %}
        </div>
    </section>
    <br> <br> <br> <br>
    <br> <br> <br> <br>
{% endblock %}