{% extends 'base.html' %}
{% block content %}
    <div id="loader">

        <div class="loader-spinner">
        </div>

    </div>
    <section  class="blog section-top-space" style="margin-left: 2%;margin-right: 2%">
        <div class="recent-news-full-content">
        <br>      <br>      <br>      <br>
          <br>      <br>      <br>      <br>
 <h1>Buscador </h1>
        <p style="color: red">Instrucciones</p>
        <p class="-align-justify">El buscador realiza coincidencias con nombres de medicamentos, vías de administración o código ATC.En algunos casos puede escribir parte de la palabra, por ejemplo, puede escribir “ace” y esto retornara búsquedas relacionadas con acetaminofén.</p>
 <br>
            <p>Asegúrese de escribir bien las palabras, estas pueden llevar acentos.</p>
        <br>
        <br>
  <form action="." method="GET">
    <label for="q">Escriba sus busquedas : </label>
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="Buscar">
  </form>

  {% if query %}
    <h2>Resultados para "{{ query|escape }}":</h2>
<br>
    {% if results %}
      <ul>
      {% for medicamento in results %}
          <li><a  href="{% url 'detalle_busqueda' %}?cod={{ medicamento.id }}">{{ medicamento | escape }} <span class="fa fa-hand-o-left"></span></a><br><span style="font-size: small">{{ medicamento.categoria }}<br>{{ medicamento.via_de_administracion }}<br>{{ medicamento.contentracion }}</span> </li>
      <hr>
          <br>
      {% endfor %}
      </ul>
    {% else %}
      <p>No existen resultados, intente recortar la palabra</p>
    {% endif %}
  {% endif %}
        </div>
    </section>
    <br> <br> <br> <br>
    <br> <br> <br> <br>
{% endblock %}