{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

                 
<div>
<img  class="responsive"  src="{% static '_img/fondo_listado.png' %}" alt="logo" />
</div>





    <section class="insurances-slider section" style="background-color: orange; color: white;">


<img  style="margin-top: 5%" class="responsive"  src="{% static '_img/descargar.png' %}" alt="logo" />
            <div class="content">
<br><br>
                <h2>¡Descarga la aplicación ahora!</h2>
                <p style="color: white;height:auto;">Descarga la aplicación desde las tiendas AppStore y PlayStore, sigue los links o encuentra la aplicación como <span style="font-weight: bold;text-transform: uppercase;">listado nacional de medicamentos hn.</span>
La aplicación es totalmente gratis, no necesitas registrarte ni pagar por una suscripción.</p>


            </div>

            <div class="clear">
            </div>


    </section>

    <section class="contact section-gray " style="background-color: white">
    
        <div >
            <center>
<img style="max-height: 350px;"  src="{% static '_img/logo_portada_sesal.png' %}">
</center>
</div>




    
    </section>
{% endblock %}