{% extends 'base.html' %}
{% block content %}

<section class="blog section-top-space " style="margin-bottom: 10%;">

<div class="center">
<br><br>
    <h1>LISTADO NACIONAL DE MEDICAMENTOS ESENCIALES (LNME) 2018 - SECRETARÍA DE SALUD </h1>

    </div>
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<section class="content section-top-space section-gray" style="overflow-x:auto;">


<section >
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>No</th>
                         <th>Código ATC</th>
                     <th >Nombre del Medicamento</th>



                <th>Concentración </th>
                <th>Forma Farmacéutica</th>
                <th>Vía de Administración</th>
                <th>Envase primario</th>
                <th>1er Nivel</th>
                <th>2do Nivel</th>
                          <th>Observaciones</th>
            </tr>
        </thead>
        <tbody>
  {% for item in listado_medicamentos %}




            <tr>
                <td>{{ item.correlativo}}</td>
                  <td>{{item.codigo_atc}}</td>
                 <td title="{{ item.categoria }} / {{ item.sub_categoria }}">{{item.nombre_medicamento}}</td>




                <td>{{item.contentracion}}</td>
                <td>{{item.forma_farmaceutica}}</td>
                <td>{{item.via_de_administracion}}</td>
<td>{{ item.envase_primario }}</td>
  <script>var contador='';</script>
             <script>var contador2='';</script>
                   <td>
                         {% if item.uaps == True %}<script>var contador='UAPS';</script> {% endif %}
                   {% if item.cis == True %} <script>
                   if (contador=='')
                   {
                       var contador= contador + 'CIS';
                   }else {
                       var contador= contador + ' - CIS';
                   }
                       </script>
                   {% endif %}
                   {% if item.p == True %}
                        <script>
                   if (contador=='')
                   {
                       var contador= contador + 'P';
                   }else {
                       var contador= contador + ' - P';
                   }
                       </script>
                   {% endif %}
                         <script>document.write(contador);</script>
                     </td>
            <td>
                 {% if item.hb == True %}
                     <script>
                   if (contador2=='')
                   {
                       var contador2= contador2 + 'HB';
                   }else {
                       var contador2= contador2 + ' - HB';
                   }
                       </script>
                 {% endif %}{% if item.hg == True %}
                 <script>
                   if (contador2=='')
                   {
                       var contador2= contador2 + 'HG';
                   }else {
                       var contador2= contador2 + ' - HG';
                   }
                       </script>
                 {% endif %}
                {% if item.hesp == True %}
                     <script>
                   if (contador2=='')
                   {
                       var contador2= contador2 + 'HESP';
                   }else {
                       var contador2= contador2 + ' - HESP';
                   }
                       </script>
                {% endif %}{% if item.inst == True %}
                 <script>
                   if (contador2=='')
                   {
                       var contador2= contador2 + 'INST';
                   }else {
                       var contador2= contador2 + ' - INST';
                   }
                       </script>
                {% endif %}{% if item.hpsiq == True %}
                 <script>
                   if (contador2=='')
                   {
                       var contador2= contador2 + 'HPSIQ';
                   }else {
                       var contador2= contador2 + ' - HPSIQ';
                   }
                       </script>
                {% endif %}
             <script>document.write(contador2);</script>
            </td>
 <td>
  {% if item.lista_complementaria is not null %}
      <p style="font-weight: bold;">{{ item.lista_complementaria }}</p>
 {% endif %}
     {% if item.restriccion_uso is not null %}
  {{item.restriccion_uso}}
 {% endif %}
 </td>
            </tr>

{%  endfor %}

        </tbody>
        <tfoot>
            <tr>
              <th>No</th>
                         <th>Código ATC</th>
                    <th>Nombre del Medicamento</th>



                <th>Concentración </th>
                <th>Forma Farmacéutica</th>
                <th>Vía de Administración</th>
                <th>Envase primario</th>
                <th>1er Nivel</th>
                <th>2do Nivel</th>
                <th>Observaciones</th>
            </tr>
        </tfoot>
    </table>
</section>


</section>
</section>

{% endblock %}