{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


    <section class="blog section-top-space">
    
        <i class="fa fa-newspaper-o background-icon"></i>
    
        <div class="center">
        
            <ul class="recent-news recent-news-full">
            
                <li class="recent-news-single">

                    <div class="recent-news-full-content">
        <br><br>   <br><br>
<h1>
    Política de Uso</h1>
<p>
    La OPS y la SESAL han tomado todas las precauciones razonables para verificar la información contenida en esta herramienta, no obstante, toda la información se distribuye, sin garantía de ningún tipo, sea ésta expresa o implícita. La responsabilidad de la interpretación y utilización de la información recae sobre el usuario. En ningún caso la OPS o la SESAL podrán ser considerados responsables de daños derivados o relacionados con su utilización.
</p>
<br>
                        <br>
                        <br><br><br><br><br><br>

                           <br><br>   <br><br>   <br><br>

                    
                    </div>
                    
                    <div class="clear">
                    </div>
                
                </li>
            
            </ul>
            
            <div class="sidebar">
               <br><br>   <br><br>
                <div class="sidebar-background image">
                    <img style="max-height: 200px;min-height: 50px" src="{% static '_img/1698540.png' %}">
                </div>

            
            </div>
            
            <div class="clear">
            </div>
        
        </div>
    
    </section>
    



{% endblock %}
