{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}



    <section class="double-content section-top-space" style="margin-bottom: 10%">

        <div class="center">

            <div class="green-line">
            </div>

            <div class="content-left">

                <h2>Publicación del Diario Oficial La Gaceta, en la cual se aprueba la LNME</h2>

                <p>Etiam elit elit, commodo at interdum sed. Cras accumsan dignissim neque et pulvinar. In finibus vitae tellus at scelerisque. Etiam facilisis purus nec sem ultricies commodo.</p>
                <p class="without-margin-bottom">Etiam id ante est. Aenean pellentesque quam vel purus tincidunt tristique. Integer arcu nibh, tempus id ultricies ut, vulputate nec nunc.</p>

            </div>

            <div class="content-right">

                <ul class="documents without-margin-bottom">

                    <li class="document document-pdf">

                        <i class="fa fa-file-pdf-o"></i>
                        <a href="{% static 'archivo/LA GACETA 29.12.2018 (ACUERDO LNME 2018).pdf' %}">Publicación del Diario Oficial La Gaceta, en la cual se aprueba la LNME</a>
                        <span>Tamaño: 3.7 MB</span>

                        <div class="clear">
                        </div>

                    </li>





                </ul>

            </div>

            <div class="clear">
            </div>

        </div>

    </section>


{% endblock %}